ApiFrame/ApiFrame.Connection/Service References/Api_HRSB/ApiFrame3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="seabRes">
    <xs:sequence>
      <xs:element name="header" nillable="true" type="tns:seabResHeader" />
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:seabResError" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="security" nillable="true" type="tns:seabResSecurity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seabRes" nillable="true" type="tns:seabRes" />
  <xs:complexType name="seabResHeader">
    <xs:sequence>
      <xs:element name="reqType" nillable="true" type="xs:string" />
      <xs:element name="api" nillable="true" type="xs:string" />
      <xs:element name="apiKey" nillable="true" type="xs:string" />
      <xs:element name="priority" nillable="true" type="xs:string" />
      <xs:element name="channel" nillable="true" type="xs:string" />
      <xs:element name="subChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trusted" nillable="true" type="xs:string" />
      <xs:element name="requestAPI" nillable="true" type="xs:string" />
      <xs:element name="requestNode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seabResHeader" nillable="true" type="tns:seabResHeader" />
  <xs:complexType name="seabResError">
    <xs:sequence>
      <xs:element name="code" nillable="true" type="xs:string" />
      <xs:element name="desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seabResError" nillable="true" type="tns:seabResError" />
  <xs:complexType name="seabResSecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seabResSecurity" nillable="true" type="tns:seabResSecurity" />
</xs:schema>